.container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin: 20px;
}
.info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}